.ProductsBackgroundImagesContainer {
    position: relative;
    max-width: 95%;
    margin: auto;
    /* overflow: hidden; */
    border-radius: 30px;
    height: 500px;
}

.ProductsBackgroundImagesContainer::before {
    content: "";
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.437);
    border-radius: 30px;
}

.ProductsBackgroundImagesContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}


#ProdutImageRelativeContainer {
    position: relative;
}

.ImageOverContentContainer {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.ImageOverContentContainer>div {
    max-width: 800px;
    margin: auto;
}


/*------------- Product Card grid css ---------------*/


.ProductCardGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    max-width: 900px;
    margin: auto;
    margin-top: -100px;
    position: relative;
    z-index: 5;
}


@media (max-width:1100px) {

    /* .ProductsBackgroundImagesContainer,
    .ProductsBackgroundImagesContainer::before,
    .ProductsBackgroundImagesContainer img {
        border-radius: 0px;
    } */

    .ProductsBackgroundImagesContainer {
        height: 100% !important;
        min-height: 300px;
    }

    .ProductsBackgroundImagesContainer img {
        min-height: 300px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }


    .ProductCardGridContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        max-width: 900px;
        margin: auto;
        margin-top: 0px;
        position: relative;
        z-index: 5;
        transition: .5s;
    }
}

@media (max-width:789px) {
    .ProductCardGridContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 900px;
        margin: auto;
        margin-top: 0px;
        position: relative;
        z-index: 5;
        transition: .5s;
        padding-top: 30px;
    }
}

/* 
@media (max-width:490px) {
    .ProductCardGridContainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        max-width: 900px;
        margin: auto;
        margin-top: -100px;
        position: relative;
        z-index: 5;
    }
} */



/* ----------------- Product Card Css ----------------*/

.ImageContainer {
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-color: rgba(249, 116, 22, 0.173);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ImageContainer img {
    width: 80%;
    margin-top: 10px;
    /* height: 100%; */
    object-fit: cover;
}

@media (max-width:900px) {
    .ProductsBackgroundImagesContainer {
        max-width: 100%;
    }
    #ProdutImageRelativeContainer{
        margin: 15px;
     
    }
}

.AdjustContainerPosition{
    min-height: 200px;
}