#Header{
    position: sticky;
    top: 0px;
    z-index: 1000;
}
#Footer{
    position: relative;
}

#Footer .FooterRedShape img{
    position: absolute;
    right: 0px;

}
#Footer .FooterBlackShape img{
    position: absolute;
    left: 0px;
    z-index: 1;
}

#FooterContent{
    position: relative;
    z-index: 5;
}